/**
 头部信息
*/

* {margin: 0;padding: 0;}
body{
    padding-top: 84px;
}
ul{
    list-style: none;
}
.head_con {
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 48px;
    background: #000;
    box-shadow: 0 -1px #262626 inset;
    padding: 18px 0px;
    z-index: 1000;
}
.head_detail {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 48px;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: 48px;
    margin: 0 auto;
}
.head_left {
    display: flex;
    align-items: center;
}
.head_left img{
    width: 140px;
    height: 18px;
}
.head_left ul{
    display: flex;
    list-style: none;
    margin-left: 24px;
}
.head_left ul li {
    padding: 0px 24px;
}
.head_right ul{
    display: flex;
    list-style: none;
    margin-left: 24px;
}
.head_right ul li {
    font-size: 13px;
    padding: 0px 20px;
}
.head_right ul li a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.buy_car {
    font-size: 15px;
    font-weight: 700;
}

/**
* 搜索
*/
.serch_bg {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:84px;
    left:0px;
    background: rgba(0,0,0,.5);
    z-index:88;
}
.serch_top{
    background: #fff;
    overflow: hidden;
}
.serch_top_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 28px 0px;
    margin: 0 auto;
}
.serch_input{
    display: flex;
    align-items: center;
}
.serch_input input{
    height: 20px;
    font-size: 16px;
    color: #202020;
    margin-left: 6px;
    border: none;
    outline: none;
}
.close{
    cursor: pointer;
}

.serch_r{
    width: 1200px;
    margin: 60px auto 80px;
}
.serch_title{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #202020;
    padding: 0px 0px 20px;
    border-bottom: 1px solid #E3E3E3;
}
.serch_result {
    display: flex;
    padding: 0px;
    margin-left: -100px;
    justify-content: space-between;
}
.no_result{
    font-size: 14px;
    color: #909090;
}

.serch_result_list{
    width: 313px;
    margin:40px 0px 0px 100px;
    text-align: center;
}
.serch_result_list img{
    width: 313px;
    height:313;
    margin-bottom: 10px;
}
.serch_result_list h4{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 4px 0px 0px;
}

/**
    底部信息
*/
.bottom_con {
    background: black;
    padding: 70px 0px;
}
.bottom_detail {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    color: #fff;
    overflow: hidden;
    margin: 0 auto;
}
.bottom_detail h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.bottom_detail li{
    font-size: 12px;
    padding-bottom: 16px;
    font-weight: 400;
}
.bottom_detail h6 {
    margin-top: 55px;
}
.bottom_detail input {
    background: transparent;
    outline: none;
    color: #fff;
    height: 20px;
    border: 1px solid #BCBCBC;
    padding: 3px 6px;
}